{
    "agent": {
        "logfile": "/var/logs/amazon-cloudwatch-agent.log",
        "region": "ap-southeast-1"
    },
    "logs": {
        "logs_collected": {
            "files": {
                "collect_list": [
                    {
                        "file_path": "/var/log/messages",
                        "log_group_name": "/{{ appian_environment }}/var/log/messages"
                    }
                ]
            }
        }
    }
}
